/**
  |============================
  | Comon styles
  |============================
*/
body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.section-title {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;

}
.list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/**
  |============================
  | Reset
  |============================
*/
ul,
ol {
 list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    font-family: inherit;
    cursor: pointer;
}

/**
  |============================
  | Header Block
  |============================
*/
.header {
    background: #FFFFFF;
}

.header-logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-decoration: none;
}

.header-logo span {
    color: #2E2F42;
}

.header-nav {
    
}
    
.header-nav-list {
    
}

.header-nav-item {}
    

.header-nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.header-nav-link:hover,
.header-nav-link:focus {
    color: #404BBF;
}

.header-adress {}

.header-adress-list {}

.header-adress-item {}

.header-adress-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.header-adress-link:hover,
.header-adress-link:focus {
    color: #404BBF;
}
/**
  |============================
  | Hero section 
  |============================
*/
.hero-section {
    background: #2E2F42;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.button-hero {
    background: #4D5AE5;
    border-radius: 4px;
    color: #FFFFFF;
    border: none;
}
.button-hero:hover,
.button-hero:focus {
    background: #404BBF;
}
/**
  |============================
  | Description section
  |============================
*/
.deskr-section {
}

.deskr-list {}

.deskr-list-item {}


/**
  |============================
  | What are we doing section
  |============================
*/
.doing-section {
    
}

.doing-section-list {}

.doing-section-item {}

.doing-section-img {}
/**
  |============================
  | Team section
  |============================
*/
.team-section {
    background: #F4F4FD;
}

.team-list {
    
}

.team-list-item {
    background: #FFFFFF;
}

.team-list-img {}
/**
  |============================
  | Footer block
  |============================
*/
.footer {
    background: #2E2F42;
}

.footer-logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-decoration: none;
}
 
.footer-logo span {
    color: #F4F4FD;
}

.link {}

.fotter-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}
/**
  |============================
  | Portfolio page
  |============================
*/
.button-porfolio {
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    color: #4D5AE5;
}
.button-porfolio:hover,
.button-porfolio:focus {
    background: #404BBF;
    color: #FFFFFF;
}