/**
  |============================
  | Comon styles
  |============================
*/
:root {
    --first-basic-color: #FFFFFF;
    --second-basic-color: #2E2F42;
    --third-basic-color: #434455;
    --fourth-basic-color: #F4F4FD;
    --butn-logo-color: #4D5AE5;
    --active-color: #404BBF;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: var(--third-basic-color);
    background-color: #FFFFFF;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    cursor: pointer;
}

.button {
    font-family: inherit;
    cursor: pointer;
}



.list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--second-basic-color);
}

.list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


/**
  |============================
  | Header Block
  |============================
*/
.header {
    background: var(--first-basic-color);
}

.header-logo {
    font-family: 'Raleway' ,sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: var(--butn-logo-color);
}

.header-text-span {
    color: var(--second-basic-color);
}

.header-nav {
    
}
    
.header-nav-list {
    
}

.header-nav-item {}
    

.header-nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--second-basic-color);
}
.header-nav-link:hover,
.header-nav-link:focus {
    color: var(--active-color);
}

.header-adress {
    font-style: normal;
}

.header-adress-list {}

.header-adress-item {}

.header-adress-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--third-basic-color);
}
.header-adress-link:hover,
.header-adress-link:focus {
    color: var(--active-color);
}
/**
  |============================
  | Hero section 
  |============================
*/
.hero-section {
    background: var(--second-basic-color);
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--first-basic-color);
}
.button-hero {
    background: var(--butn-logo-color);
    color: var(--first-basic-color);
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.button-hero:hover,
.button-hero:focus {
    background: var(--active-color);
}
/**
  |============================
  | Description section
  |============================
*/
.deskr-section {
}

.deskr-list {}

.deskr-list-item {}


/**
  |============================
  | What are we doing section
  |============================
*/
.doing-section {
    
}

.doing-section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--second-basic-color);
}

.doing-section-list {}

.doing-section-item {}

.doing-section-img {}
/**
  |============================
  | Team section
  |============================
*/
.team-section {
    background: #F4F4FD;
}

.team-section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--second-basic-color);
}

.team-list {
    
}

.team-list-item {
    background: var(--first-basic-color);
}

.team-list-img {}

/**
  |============================
  | Portfolio page
  |============================
*/
.button-porfolio {
    background: #F4F4FD;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--butn-logo-color);
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.button-porfolio:hover,
.button-porfolio:focus {
    background: var(--active-color);
    color: var(--first-basic-color);
}

.services-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--second-basic-color);
}

/**
  |============================
  | Footer block
  |============================
*/
.footer {
    background: var(--second-basic-color);
}

.footer-logo {
    font-family: 'Raleway',sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--butn-logo-color);
}
 
.footer-logo-span {
    color: #F4F4FD;
}

.link {}

.fotter-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}
